footer {
    background: #333333;
    color: #FFFFFF;
}

.footer__items {
    display: flex;
}
.contacts {
    width: 50%;
}

.social {
    width: 50%;
}
.contacts a{
    color: #FFFFFF;
}

h3{
    font-family: 'Montserat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}
li {
    list-style-type: none;
}

.phone__number {
    font-family: 'Oswald', sans-serif;
}

.email {
    font-family: 'Montserat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}
.social li{
    display: inline;
}

.all__rights {
    font-family: 'Montserat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}
